.mediaTableContainer {
  padding: 1rem;
}

.mediaTable {
  width: 100%;
  border-collapse: collapse;
}

.mediaTable th,
.mediaTable td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.paginationControls {
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.mediaTable td {
    white-space: normal;
    overflow-wrap: break-word;
}

/* Constrain specific columns */
.mediaTable td:nth-child(1) { /* Date */
    max-width: 150px;
}
.mediaTable td:nth-child(2) { /* Name */
    max-width: 200px;
}

